/* .header{
    background-color: #1AC073;
    color: black;
} */

body{
    background-color: #f7f8fa;
}
header {
    background-color: #1AC073;
    color: white;
    height: 100vh;
}

a {
    margin-right: 10px;
}

.navbar-brand {
    font-family: "Squada One";
}

.a-menu {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.icon-menu {
    margin-right: 20px;
}

.header-btn {
    background-color: #F3BA00;
    border-radius: 0px 5px 5px 0px;
}

.header-main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.header-navbar {
    height: 10%;
}

.navbar-brand {
    font-size: 32px;
}

.navbar-nav {
    font-size: 18px;
}

.header-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-tittle {
    font-size: 70px;
    width: 80%;
}

.header-img {
    width: 75%;
}

.product-section {
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.form-select {
    width: 20%;
}

.product-tittle {
    font-size: 30px;
}

.btn-secondary {
    background-color: white;
    color: 	#A9A9A9;
    border-color: #F3BA00;
}

.btn-secondary:hover {
    background-color: #F3BA00;
    border-color: #F3BA00;
    color: black;
}

.product-select {
    width: 20%;
}

.product-button-list {
    width: 50%;
}
.product-card{
    width: 277px;
    height: 337px;
    background-color: white;
    border-radius: 10px;
}
.btn-product{
    background-color: #f7f8fa;
    border-radius: 5px;
    border-style: none;
    line-height: 20px;
}
.btn-product:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
.btn-add{
    background-color: #F3BA00;
}
.card-header{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    background-image: url(/FoodOrdering/images/product_img.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.card-body{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.card-footer{
    font-size: 12px;
    margin-left: 10px;
}
.card-promo{
    font-size: 12px;
    line-height: 20px;
    background-color: #F3BA00;
    width: 32px;
    height: 30px;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-tittle{
    margin-top: 5%;
}
.product-card:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog-section{
    height: 100vh;
}
.contact-section{
    height: 100vh;
}